HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Node ###
node_modules/
log
dist/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Local Config ###
application-local.yml

### Misc ###
面试/
优化方案
优化方案v2.1/
leave_youhua.sql
seat_reservation_migration.sql
loggerAI
hs_err_pid*.log
logADMIN
logTeacher
logUser
logger
