<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxq.smart_campus.mapper.CollegeMapper">
    <!-- 获取学院列表 -->
    <select id="getCollegeList" resultType="com.hxq.smart_campus.entity.vo.CollegeListVO">
        select id, college_code, college_name, status, create_time from college
        <where>
            <!-- 默认只查询启用状态的学院 -->
            <if test="status == null or status == ''">
                and status = '启用'
            </if>
            <if test="status != null and status != ''">
                and status = #{status}
            </if>
            <if test="collegeName != null and collegeName != ''">
                and college_name like concat('%', #{collegeName}, '%')
            </if>
        </where>
        order by create_time desc
    </select>
    <!-- 新增学院 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id"
            parameterType="com.hxq.smart_campus.entity.pojo.College">
        insert into college
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="collegeCode != null and collegeCode != ''">college_code,</if>
            <if test="collegeName != null and collegeName != ''">college_name,</if>
            <if test="dean != null and dean != ''">dean,</if>
            <if test="contactPhone != null and contactPhone != ''">contact_phone,</if>
            status,
        </trim>
            values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="collegeCode != null and collegeCode != null">#{collegeCode},</if>
            <if test="collegeName != null and collegeName != ''">#{collegeName},</if>
            <if test="dean != null and dean != ''">#{dean},</if>
            <if test="contactPhone != null and contactPhone != ''">#{contactPhone},</if>
            '启用',
        </trim>
    </insert>
    <!-- 更新学院 -->
    <update id="update">
        update college
        <set>
            <if test="collegeName != null and collegeName != ''">college_name = #{collegeName},</if>
            <if test="dean != null and dean != ''">dean = #{dean},</if>
            <if test="contactPhone != null and contactPhone != ''">contact_phone = #{contactPhone},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </set>
        where id = #{id}
    </update>

    <!-- 批量删除学院 -->
    <update id="deleteBatch">
        update college set status = "禁用"
        where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>
</mapper>
