<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxq.smart_campus.mapper.CourseMapper">

    <!-- 插入课程 -->
    <insert id="insertCourse">
        insert into course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseCode != null and courseCode != ''">course_code</if>
            <if test="courseName != null and courseName != ''">course_name</if>
            <if test="credit != null">credit</if>
            <if test="hours != null">hours</if>
            <if test="type != null and type != ''">type</if>
            <if test="status != null and status != ''">status</if>
            <if test="capacity != null">capacity</if>
        </trim>
            values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="courseCode != null and courseCode != ''">#{courseCode}</if>
            <if test="courseName != null and courseName != ''">#{courseName}</if>
            <if test="credit != null">#{credit}</if>
            <if test="hours != null">#{hours}</if>
            <if test="type != null and type != ''">#{type}</if>
            <if test="status != null and status != ''">#{status}</if>
            <if test="capacity != null">#{capacity}</if>
        </trim>
    </insert>
    <!-- 更新课程 -->
    <update id="updateCourse">
        update course
        <set>
            <if test="courseName != null and courseName != ''">course_name = #{courseName}</if>
            <if test="credit != null">credit = #{credit}</if>
            <if test="hours != null">hours = #{hours}</if>
            <if test="type != null and type != ''">type = #{type}</if>
            <if test="status != null and status != ''">status = #{status}</if>
            <if test="capacity != null">capacity = #{capacity}</if>
        </set>
        where id = #{id}
    </update>
    <!-- 删除课程 -->
    <delete id="deleteBatch">
        delete from course where id in (
        <foreach collection="ids" item="id" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!-- 获取课程列表 -->
    <select id="getCourseList" resultType="com.hxq.smart_campus.entity.vo.CourseListVO">
        select id, course_code, course_name, credit, hours, type, status, create_time,capacity
        from course
        <where>
            <if test="courseCode != null and courseCode != ''">course_code like concat('%', #{courseCode}, '%')</if>
            <if test="courseName != null and courseName != ''">and course_name like concat('%', #{courseName}, '%')</if>
            <if test="type != null and type != ''">and type = #{type}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
        </where>
        order by create_time desc
    </select>
    <!-- 获取可选课程列表 -->
    <select id="getAvailableCourseList" resultType="com.hxq.smart_campus.entity.vo.AvailableCourseVO">
        select c.id, c.course_code, c.course_name, c.credit, c.hours, c.type,
               t.name as teacher_name,
               (select count(*) from course_selection cs where cs.course_id = c.id and cs.status = '已选') as selected_count,
               c.capacity
        from course c
        left join course_schedule cs2 on c.id = cs2.course_id
        left join teacher t on cs2.teacher_id = t.id
        where (c.type = '选修' or c.type = '公选')
          and c.status = '开课'
          and (select count(*) from course_selection cs where cs.course_id = c.id and cs.status = '已选') &lt; c.capacity
    </select>
</mapper>
