<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxq.smart_campus.mapper.NoticeMapper">
    <!-- 发布通知 -->
    <insert id="insertNotice" useGeneratedKeys="true" keyProperty="id">
        insert into notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="content != null and content != ''">content,</if>
            <if test="publisherId != null">publisher_id,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="scope != null and scope != ''">scope,</if>
            status,
            create_time
        </trim>
            values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null and content != ''">#{content},</if>
            <if test="publisherId != null">#{publisherId},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="scope != null and scope != ''">#{scope},</if>
            '发布',
            now()
        </trim>
    </insert>
    <!-- 更新通知 -->
    <update id="updateNotice">
        update notice
            <set>
                <if test="title != null and title != ''">title = #{title},</if>
                <if test="content != null and content != ''">content = #{content},</if>
                <if test="type != null and type != ''">type = #{type},</if>
                <if test="scope != null and scope != ''">scope = #{scope},</if>
                update_time = now()
            </set>
        where id = #{id}
    </update>
    <!-- 获取通知详情 -->
    <select id="getNoticeDetail" resultType="com.hxq.smart_campus.entity.vo.NoticeDetailVO">
        select n.id, n.title, n.content, n.publisher_id, t.name as publisher_name, n.create_time as publish_time, n.type,
               n.scope, n.status, n.create_time, n.update_time
        from notice n
        left join teacher t on n.publisher_id = t.id
        where n.id = #{id}
    </select>
    <!-- 获取通知列表 -->
    <select id="getNoticeList" resultType="com.hxq.smart_campus.entity.vo.NoticeListVO">
        select n.id, n.title, t.name as publisher_name, n.create_time as publish_time, n.type, n.scope, n.status, n.create_time
        from notice n
        left join teacher t on n.publisher_id = t.id
        <where>
            <if test="title != null and title != ''">n.title like CONCAT('%', #{title}, '%')</if>
            <if test="type != null and type != ''">and n.type = #{type}</if>
            <if test="status != null and status != ''">and n.status = #{status}</if>
        </where>
    </select>
    <!-- 获取我的通知列表 -->
    <select id="getMyNoticeList" resultType="com.hxq.smart_campus.entity.vo.MyNoticeVO">
        select n.id, n.title, n.content, n.publisher_id, t.name as publisher_name, n.create_time as publish_time, n.type,
               n.scope, n.status, n.create_time, n.update_time
        from notice n
        left join teacher t on n.publisher_id = t.id
        where n.status = '发布'
          and (
              n.scope = '全部'
              <if test="className != null and className != ''">
                  or n.scope = #{className}
              </if>
              <if test="majorName != null and majorName != ''">
                  or n.scope = #{majorName}
              </if>
              <if test="collegeName != null and collegeName != ''">
                  or n.scope = #{collegeName}
              </if>
          )
        order by n.create_time desc
    </select>

    <select id="countUnreadNotices" resultType="java.lang.Long">
        select count(*)
        from notice n
        where n.status = '发布'
          and (
              n.scope = '全部'
              <if test="className != null and className != ''">
                  or n.scope = #{className}
              </if>
              <if test="majorName != null and majorName != ''">
                  or n.scope = #{majorName}
              </if>
              <if test="collegeName != null and collegeName != ''">
                  or n.scope = #{collegeName}
              </if>
          )
    </select>
</mapper>